.signupScreen {
    max-width: 400px;
    color: white;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 3px;
}

.signupScreen form {
    display: -ms-grid;
    display: grid;
}

.signupScreen h1 {
    margin-bottom: 25px;
    text-align: left;
}

.signupScreen input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 40px;
    max-width: 600px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.signupScreen button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #e50914;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 3px;
    margin: 15px 0px;
    cursor: pointer;
}

.signupScreen h5 {
    text-align: left;
}

.signupScreen .signupScreen_grey {
    color: grey;
    font-weight: 900;
}

.signupScreen .signupScreen_link:hover {
    text-decoration: underline;
    cursor: pointer;
}